<div class="form-container">
  <h2>Изменение пароля</h2>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{msg}}</p>
  </div>
  <form>
    <div class="form-group">
      <label>Логин</label>
      <input type="email" name="email" [(ngModel)]="loginChangeReq.email" class="form-control">
    </div>

    <div class="form-group">
      <label>Старый пароль</label>
      <input type="password" name="oldPassword" [(ngModel)]="loginChangeReq.oldPassword" class="form-control">
    </div>

    <div class="form-group">
      <label>Новый пароль</label>
      <input type="password" name="newPassword" [(ngModel)]="loginChangeReq.newPassword" class="form-control">
    </div>

    <div class="form-group">
      <label>Подтвердите новый пароль</label>
      <input type="password" name="confirmNewPassword" [(ngModel)]="loginChangeReq.confirmNewPassword" class="form-control">
    </div>

    <div class="form-actions">
      <button type="submit"  (click)="change()">Изменить</button>
      <button type="submit"  (click)="cancel()">Отмена</button>
    </div>
  </form>
</div>
